{% extends 'shared/_layout.html' %}
{% load render_partial %}
{% block title %}
    پنل کاربری
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% render_partial 'user_panel_module.views.user_panel_menu_partial' %}
            <div class="col-md-8">
                {% csrf_token %}
                {{ form_edit.as_p }}
                <button type="submit" class="btn btn-success">ثبت</button>
            </div>
        </div>

    </div>
{% endblock %}